@model IEnumerable<AshZoneModels.Models.Product>
@using Microsoft.AspNetCore.Identity

@{

    ViewData["Title"] = "Index";

}
<br />
<div class="row">
    <div class="col-6">
        <h2>All Products</h2>
    </div>
    <div class="col-6">
        <div class="text-right">
            <a asp-action="Create" class="btn btn-info">Add Products</a>
        </div>

    </div>
    

</div>
<div class="container">
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border container">
            <tr class="table-primary">
                <th><label>Product Name</label></th>
                <th><label>Product Type</label></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var products in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(m => products.ProductName)
                    </th>
                    <th>
                        @Html.DisplayFor(m => products.ProductType)
                    </th>

                    <th></th>
                    <th></th>

                    <th>
                        <a class="btn btn-warning text-white" asp-action="Edit" asp-route-id="@products.ID">Edit</a>
                        &nbsp;
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@products.ID">View</a>
                        &nbsp;
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@products.ID">Delete</a>
                    </th>
                </tr>
            }
        </table>

        <nav style="font-size:18px;letter-spacing:8px;margin-left:50%;margin-right:50%;">
          
        </nav>

    }
    else
    {
        <h3 class="text-black-50 text-center">No Products Found</h3>
    }

</div>